[Unit]
Description=Generate the CPANSec feed
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
DynamicUser=yes
SupplementaryGroups=www-data
StateDirectory=cpansec-feed
EnvironmentFile=-/etc/default/cpansec-feed
WorkingDirectory=/var/lib/cpansec-feed
ExecStart=/usr/bin/cpansec-feed-run
ReadWritePaths=/var/www/cpansec-feed
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes
UMask=0022
